@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: "Noto Serif Georgian", serif;
}

.bg-purple {
  background-color: #25003e;
}

.full-width {
  width: 100%;
  padding: 0;
  margin: 0;
}

.responsive-width {
  width: 60%;
}

.fade-in {
  animation: fadeInAnimation ease-in-out 0.3s;
}

.page {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-24px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
